
<h2><%= @user %>さんのメモ一覧</h2>
<% if @memos.count == 0 || !@count.nil? %>
  <p>メモを作成しよう！</p>
<% else %>
  <table>
    <% @memos.each do |memo| %>
      <tr>
        <td>
          <a href="/users/<%= memo.user_id %>/memos/<%= memo.id %>"><%= memo.title %></a>
        </td>
        <td>
          <form method="post" action="/users/<%= memo.user_id %>/memos/delete">
          <input type="text" value="<%= memo.id %>" name="id" hidden>
          <input type="hidden" value="delete" name="_method">
          <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% end %>
  <table>
  <div class="paging">
    <ul class="paging-items">
      <% if session[:page] == 1%>
        <li><a>&lt;&lt;Prev</a></li>
      <% else %>
        <li><a href="/memos/<%= session[:page] - 1 %>">&lt;&lt;Prev</a></li>
      <% end %>
      <% if @memos.length < 5 || @start_point + @display_number == @end_point %>
        <li><a>Next&gt;&gt;</a></li>
      <% else %>
        <li><a href="/memos/<%= session[:page] + 1 %>">Next&gt;&gt;</a></li>
      <% end %>
    </ul>
  </div>
<% end %>

<a href="/users/<%= @user %>/memos/new">メモを作成！</a>
